@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;1,300;1,400&display=swap");

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

.header {
  background-color: #76a7f4;
  text-align: right;
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer a {
  color: white;
  text-decoration: none;
}

header,
footer a:hover {
  color: #ffe45e;
}

.logo {
  display: flex;
  padding-left: 10px;
}

.btn-primary {
  background: #6ebeed;
  border-radius: 5px;
  font-size: x-large;
  border: 1px solid white;
  color: white;
  margin: 0 1em;
  padding: 0.25em 1em;
  text-decoration: none;
}

.btn-primary:focus {
  background: white;
  border-radius: 5px;
  font-size: x-large;
  border: 1px solid #6ebeed;
  color: #6ebeed;
  margin: 0 1em;
  padding: 0.25em 1em;
  text-decoration: none;
}

.searchbox {
  text-align: center;
}

footer {
  background-color: #273246;
  width: 100%;
  margin-bottom: 100;
  padding: 40px;
  color: white;
  text-align: left;
  display: grid;
  grid-template-columns: 33.3% auto;
}

.wrapper {
  min-height: 100%;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.missContainer {
  margin-left: 50px;
  margin-right: 50px;
  padding: auto;
  height: 470px;
}

.profileCon {
  margin-left: 50px;
  align-self: center;
  background-color: #f9f9f9;
  border: #273246 1px solid;
  padding: 10px;
  width: fit-content;
}

.profileCon ul {
  list-style: none;
}
