.loginDiv {
  background: #F9F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 25%;
  height: 50%;
  padding: 10px;
}

.signUpDiv{
  background: #F9F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 25%;
  height: 50%;
  padding: 10px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  .loginDiv {
    width: 80%;
  }
  .signUpDiv{
    width: 80%;
  }
  .btn-gig {
    font-size: medium;
    padding: 5px 10px;
  }
}

@media only screen
and (min-width : 481px)
and (max-width : 767px) {
  .loginDiv {
    width: 50%;
  }
  .signUpDiv{
    width: 50%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  .loginDiv {
    width: 40%;
  }
  .signUpDiv{
    width: 40%;
  }
}